body {
    font-family: 'Montserrat', sans-serif!important;
}

.gal-item{
	overflow: hidden;
	padding: 8px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}

/*
.map-container{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	}
	.map-container iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	}
*/
