body {
	font-family: 'Montserrat', sans-serif!important;
}

.gal-item{
	overflow: hidden;
	padding: 8px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}

.card-img-cover {
    width: 100%!important;
    margin: 0 auto;
    height: 12rem;
    object-fit: cover;
}


